@model  IEnumerable<Vidly.Models.Movie>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>All Movies</h2>
@using (Html.BeginForm("New", "Movies"))
{
<button type="submit" class="btn btn-primary">New Movie</button>
}
<table class="table	table-­‐bordered table-­‐hover">
    <tr>
        <th>Movie</th>
        <th>Genre</th>
    </tr>
        @foreach (var Movie in Model)
        {
        <tr>
            <td>@Html.ActionLink(@Movie.Name, "Edit", "Movies", new { Id = Movie.Id }, null)</td>
            <td>@Movie.Genre.Name</td>
        </tr>
            }
</table>

