@model  IEnumerable<Vidly.Models.Customer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>All customers</h2>
@if(!Model.Any())
{
    <p>We don't have any customers yet.</p>
}
<table class="table table-bordered table-hover" 
    <thead>
        <tr>
            <th>Customer</th>
            <th>Discount Rate</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cust in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(cust.Name, "Edit", "customers", new { Id = cust.Id }, null)
                </td>
                <td>
                    @cust.MembershipType.Name
                </td>
            </tr>
        }
    </tbody>



